body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  background-color: #353b48;
}

.bg-image{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -10;
  background-image: url("background2.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.navbar-style{
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 20px;
  background-color: #2f3640;
  color: #f5f6fa;
}

.navbar-div{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#confession-form{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 5%;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: left;
  background-color: #2f3640;
  color: #f5f6fa;
}

#confession-form textarea, .form-check-input{
  background-color: #353b48;
  color: #f5f6fa;
}

#confession-form > .form-group{
  padding-bottom: 20px;
}

#confession-form-row, #confessions-row{
  width: 100%;
  max-width: 800px;
}

.confession-box{
  display: flex;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #2f3640;
  color: #f5f6fa;
}

.confession-box p{
  margin: 0;
}

.confession-info{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  border-right: #dcdde1 solid;
}

.confession-box .university{
  font-size: 1rem;
  font-weight: bolder;
  /* border-bottom: #f5f6fa; fix this */
}

.confession-box .content{
  display: flex;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 30px;
  padding-right: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  align-items: center;
}

.confession-box .date{
  font-weight: lighter;
  font-style: italic;
  font-size: 0.75rem;
  /* border-top: #f5f6fa; fix this */
}

@media screen and (min-width: 600px) {
  .confession-box .university{
    font-size: 1.5rem;
  }

  .confession-box .content{
    font-size: 1.75rem;
  }

  .confession-box .date{
    font-size: 1rem;
  }
}

#site-content{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5vh;
}

.btn-confess{
  background-color: #c23616;
  color: #f5f6fa;
  font-weight: bold;
}

.btn-confess:hover {
  background-color: #44bd32;
  color: #f5f6fa;
}

.form-group #confessionAnonymous{
  color: #dcdde1 !important;
}

#confession-form #ratherNot{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  color: #21262d !important;
}

#confession-form #ratherNot:hover{
  text-decoration: underline;
  cursor: pointer;
}

#brand-div h1{
  padding-bottom: 0;
  margin-bottom: -5px;
  margin-left: -3px;
}

#brand-div p{
  font-size: 1.25rem;
  margin: 0;
}

